@model ProfileViewModel
@{
    ViewData["Title"] = "جزئیات فاکتور";
}

@section Header{
    <!-- plugin-------------------------------------->
    <link href="~/assets/css/vendor/noUISlider.min.css" rel="stylesheet" />
    <link href="~/assets/css/vendor/nice-selectMin.css" rel="stylesheet" />
}
<!-- profile------------------------------->
<div class="container-main">
    <div class="d-block">
        <section class="profile-home">
            <div class="col-lg">
                <div class="post-item-profile order-1 d-block">
                    <div class="col-lg-3 col-md-3 col-xs-12 pr">
                        <div class="sidebar-profile sidebar-navigation">
                            <partial name="_SidebarProfilePartial"></partial>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-xs-12 pl">
                        <div class="profile-content">
                            <div class="profile-stats">
                                <div class="table-order-view">
                                    <h2 class="order-view-title mt-4 mb-3">جزییات سفارش </h2>
                                    <table class="table table-borderless">
                                        <thead>
                                            <tr>
                                                <th scope="col">نام محصول</th>
                                                <th scope="col">تعداد</th>
                                                <th scope="col">مجموع</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Factor.FactorDetails)
                                            {
                                                <tr>
                                                    <td class="product-name">@item.ProductName</td>
                                                    <td class="product-name">@item.ProductCount</td>
                                                    <td class="product-total">
                                                        <span class="amount">
                                                            <span>تومان</span>
                                                            @item.ProductPrice.ToString("#,0")
                                                        </span>
                                                    </td>
                                                </tr>

                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th scope="row">مجموع:</th>
                                                <td>
                                                    <span class="amount">
                                                        <span>تومان</span>
                                                        @Model.Factor.TotalPrice.ToString("#,0")
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">حمل و نقل:</th>
                                                <td>حمل و نقل رایگان</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">روش پرداخت:</th>
                                                <td>انتقال مستقیم بانکی</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">تعداد کل</th>
                                                <td>
                                                    @{
                                                        int count = 0;
                                                        foreach (var item in Model.Factor.FactorDetails)
                                                        {
                                                            count += item.ProductCount;
                                                        }
                                                    }
                                                    <text>@count</text>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">قیمت نهایی:</th>
                                                <td>
                                                    <span class="amount">
                                                        <span>تومان</span>
                                                        @Model.Factor.TotalPrice
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">تخفیف های استفاده شده:</th>
                                                <td>
                                                    @if (Model.Factor.Discounts != null)
                                                    {
                                                        foreach (var item in Model.Factor.Discounts)
                                                        {
                                                            <span class="amount">
                                                                <span>تومان</span>
                                                                @item.Price
                                                            </span>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <span>شما تخفیفی استفاده نکرده اید</span>
                                                    }
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                    <br>
                                    <br>
                                    <div class="order-view-customer">
                                        <div class="box-header">
                                            <span class="box-title">نشانی ما</span>
                                        </div>
                                        <div class="profile-address-item">
                                            <div class="profile-address-content">
                                                <ul class="profile-address-info">
                                                    <li>
                                                        <div class="profile-address-info-item location">
                                                            <span class="title-address">آدرس : </span>
                                                            @Model.Address
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="profile-address-info-item location">
                                                            <span class="title-address">ایمیل : </span>
                                                            @Model.Email
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="profile-address-info-item location">
                                                            <span class="title-address">شماره تلفن : </span>
                                                            @Model.PhoneNumber
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="profile-address-info-item location">
                                                            <span class="title-address">کد پستی : </span>
                                                            @Model.Name کد پستی
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- profile------------------------------->

@section Scripts{
    <!-- plugin----------------------------------------------------->
    <script src="~/assets/js/vendor/ResizeSensor.min.js"></script>
    <script src="~/assets/js/vendor/theia-sticky-sidebar.min.js"></script>
    <script src="~/assets/js/vendor/wNumbMin.js"></script>
    <script src="~/assets/js/vendor/nouislider.min.js"></script>
    <script src="~/assets/js/vendor/jquery.nice-select.min.js"></script>
} 