@model ProfileViewModel
@{
    ViewData["Title"] = "سوالات";
    int i = 1;
}

@section Header{

    <!-- plugin------------------------------------>
    <link href="~/assets/css/vendor/noUISlider.min.css" rel="stylesheet" />
    <link href="~/assets/css/vendor/nice-selectMin.css" rel="stylesheet" />
}


<!-- profile------------------------------->
<div class="container-main">
    <div class="d-block">
        <section class="profile-home">
            <div class="col-lg">
                <div class="post-item-profile order-1 d-block">
                    <div class="col-lg-3 col-md-3 col-xs-12 pr">
                        <div class="sidebar-profile sidebar-navigation">
                            <partial name="_SidebarProfilePartial"></partial>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-xs-12 pl">
                        <div class="profile-content">
                            <div class="profile-stats">
                                <div class="profile-comment">
                                    <table class="table table-borderless table-profile-comment">
                                        <thead>
                                            <tr>
                                                <th scope="col"></th>
                                                <th scope="col">موضوع</th>
                                                <th scope="col">سوال</th>
                                                <th scope="col">نام و عکس محصول</th>
                                                <th scope="col">وضعیت پاسخ</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var question in Model.Questions)
                                            {
                                                <tr>
                                                    <td>@i</td>
                                                    <td>
                                                        @question.Topic
                                                    </td>
                                                    <td>@question.Text</td>
                                                    <td scope="row" class="th-img">
                                                        <div class="thumb-img">
                                                            <a asp-action="Description" asp-controller="Product" asp-route-productId="@question.ProductId">
                                                                <img src="/Images/ProductImages/@question.ProductImage" style="max-width: 50px;max-height: 50px;">
                                                            </a>
                                                            @question.ProductName
                                                        </div>
                                                    </td>
                                                    <td>
                                                        @if (question.IsQuestionHaveAwnser == true)
                                                        {
                                                            <p style="color:darkseagreen">پاسخ دادند</p>
                                                        }
                                                        else
                                                        {
                                                            <p style="color:orangered">پاسخ ندادند</p>
                                                        }
                                                    </td>
                                                </tr>

                                                i++;
                                            }
                                        </tbody>
                                    </table>
                                    <partial name="_PagingParitial"></partial>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- profile------------------------------->

@section Scripts{

    <!-- plugin----------------------------------------------------->
    <script src="~/assets/js/vendor/ResizeSensor.min.js"></script>
    <script src="~/assets/js/vendor/theia-sticky-sidebar.min.js"></script>
    <script src="~/assets/js/vendor/wNumbMin.js"></script>
    <script src="~/assets/js/vendor/nouislider.min.js"></script>
    <script src="~/assets/js/vendor/jquery.nice-select.min.js"></script>
}