@model GetProductDescriptionViewModel
@inject IConfiguration configuration
@{
    ViewData["Title"] = "ثبت نظر";
}

@section Header{
    <!-- plugin------------------------------------>
    <link href="~/assets/css/vendor/noUISlider.min.css" rel="stylesheet" />
    <link href="~/assets/css/vendor/bootstrap-slider.min.css" rel="stylesheet" />
    <link href="~/assets/css/vendor/nice-selectMin.css" rel="stylesheet" />
}

<!-- product-comment----------------------->
<div class="container-main">
    <div class="col-12">
        <div class="page-content page-row">
            <div class="main-row">
                <div id="breadcrumb">
                    <i class="fa fa-home"></i>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Product">خانه</a></li>
                            <li class="breadcrumb-item"><a>ثبت نظر</a></li>
                            <li class="breadcrumb-item active" aria-current="page">@Model.Name </li>
                        </ol>
                    </nav>
                </div>
            </div>
            <section class="product-comment">
                <div class="comments-product">
                    <div class="comments-product-row">
                        <div class="col-lg-4 col-md-4 col-xs-12 pull-right">
                            <div class="comments-product-col-gallery mt-3 pt-3 text-center">
                                <a href="#">
                                    <img src="/Images/ProductImages/@Model.Images.FirstOrDefault().ImgSrc" style="max-width: 100%; max-height: 21rem;">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-xs-12 pull-left">
                            <div class="comments-product-col-info">
                                <div class="comments-product-headline">
                                    <h3 class="comments-product-title">
                                        @Model.Name
                                        <span>@Model.Name</span>
                                    </h3>
                                </div>
                                <div class="comments-product-attributes px-3">
                                    <div class="row">
                                        <div class="col-sm-6 col-12 mb-3">
                                            <div class="comments-product-attributes-title">کیفیت ساخت</div>
                                            <input id="ex19" type="text" data-provide="slider"
                                                   data-slider-ticks="[1, 2, 3, 4, 5]"
                                                   data-slider-ticks-labels='["خیلی بد", "بد", "معمولی","خوب","عالی"]'
                                                   data-slider-min="1" data-slider-max="5" data-slider-step="1"
                                                   data-slider-value="3" data-slider-tooltip="hide" />
                                        </div>
                                        <div class="col-sm-6 col-12 mb-3">
                                            <div class="comments-product-attributes-title">
                                                ارزش خرید به نسبت قیمت
                                            </div>
                                            <input id="ex19" type="text" data-provide="slider"
                                                   data-slider-ticks="[1, 2, 3, 4, 5]"
                                                   data-slider-ticks-labels='["خیلی بد", "بد", "معمولی","خوب","عالی"]'
                                                   data-slider-min="1" data-slider-max="5" data-slider-step="1"
                                                   data-slider-value="3" data-slider-tooltip="hide" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-12 mb-3">
                                            <div class="comments-product-attributes-title">نوآوری</div>
                                            <input id="ex19" type="text" data-provide="slider"
                                                   data-slider-ticks="[1, 2, 3, 4, 5]"
                                                   data-slider-ticks-labels='["خیلی بد", "بد", "معمولی","خوب","عالی"]'
                                                   data-slider-min="1" data-slider-max="5" data-slider-step="1"
                                                   data-slider-value="3" data-slider-tooltip="hide" />
                                        </div>
                                        <div class="col-sm-6 col-12 mb-3">
                                            <div class="comments-product-attributes-title">امکانات و قابلیت ها</div>
                                            <input id="ex19" type="text" data-provide="slider"
                                                   data-slider-ticks="[1, 2, 3, 4, 5]"
                                                   data-slider-ticks-labels='["خیلی بد", "بد", "معمولی","خوب","عالی"]'
                                                   data-slider-min="1" data-slider-max="5" data-slider-step="1"
                                                   data-slider-value="3" data-slider-tooltip="hide" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-12 mb-3">
                                            <div class="comments-product-attributes-title">سهولت استفاده</div>
                                            <input id="ex19" type="text" data-provide="slider"
                                                   data-slider-ticks="[1, 2, 3, 4, 5]"
                                                   data-slider-ticks-labels='["خیلی بد", "بد", "معمولی","خوب","عالی"]'
                                                   data-slider-min="1" data-slider-max="5" data-slider-step="1"
                                                   data-slider-value="3" data-slider-tooltip="hide" />
                                        </div>
                                        <div class="col-sm-6 col-12 mb-3">
                                            <div class="comments-product-attributes-title">طراحی و ظاهر</div>
                                            <input id="ex19" type="text" data-provide="slider"
                                                   data-slider-ticks="[1, 2, 3, 4, 5]"
                                                   data-slider-ticks-labels='["خیلی بد", "بد", "معمولی","خوب","عالی"]'
                                                   data-slider-min="1" data-slider-max="5" data-slider-step="1"
                                                   data-slider-value="3" data-slider-tooltip="hide" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comments-add">
                            <div class="comments-add-row">
                                <div class="col-lg-6 col-md-6 col-xs-12 pull-right">
                                    <div class="comments-add-col-form">
                                        <div class="form-comment">
                                            <div class="col-md-12 col-sm-12">
                                                <div class="form-ui">

                                                    <form class="px-5" asp-action="AddComment" asp-controller="Account"
                                                          asp-route-returnUrl="@this.Url.Action("ProductComment", "Account", new {id=Model.Id})"
                                                          method="post">

                                                        <div class="row">

                                                            <div class="col-12">
                                                                <div class="form-row-title mb-2">عنوان نظر شما (اجباری)</div>
                                                                <div class="form-row">
                                                                    <input class="input-ui pr-2" type="text" asp-for="Comment.Topic"
                                                                           placeholder="عنوان نظر خود را بنویسید">
                                                                </div>
                                                            </div>
                                                            <div class="col-12 mt-5">
                                                                <div class="form-row-title mb-2">متن نظر شما (اجباری)</div>
                                                                <div class="form-row">
                                                                    <input asp-for="Comment.ProductId" type="hidden" value="@Model.Id" />
                                                                    <textarea class="input-ui pr-2 pt-2" rows="5" asp-for="Comment.Text"
                                                                              placeholder="متن خود را بنویسید" style="height:120px;"></textarea>
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-row">
                                                                    <label>خرید این محصول را پیشنهاد میکنم</label><input class="" asp-for="Comment.CustomerSuggestToBuyThisProduct" checked="checked">
                                                                </div>
                                                            </div>
                                                            <div class="col-12 mt-5">
                                                                <div class="form-row-title mb-2">نقاط قوت</div>
                                                                <div class="form-row">
                                                                    <div class="form-group  p-2 border-dark product-Goodness">
                                                                        <button id="add-Goodness-btn" type="button" class="btn btn-primary">افزودن نقاط قوت</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 mt-5">
                                                                <div class="form-row-title mb-2">نقاط ضعف</div>
                                                                <div class="form-row">
                                                                    <div class="form-group  p-2 border-dark product-Bads">
                                                                        <button id="add-Bads-btn" type="button" class="btn btn-primary">افزودن نقاط ضعف</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 mt-5">
                                                                <div class="form-account-title m-2">
                                                                    <div class="g-recaptcha" data-sitekey="@configuration["reCAPTCHA:SiteKey"]"></div>
                                                                </div>
                                                            </div>
                                                            <br>
                                                            <br>
                                                            <br>
                                                            <div class="col-12 mt-5 px-0">
                                                                <button type="submit" class="btn comment-submit-button">
                                                                    ثبت نظر
                                                                </button>
                                                                @if (ViewData["Success"] != null)
                                                                {
                                                                    <br />
                                                                    <div class="alert alert-success">@ViewData["Success"]</div>
                                                                }
                                                                @if (ViewData["Error"] != null)
                                                                {
                                                                    <br />
                                                                    <div class="alert alert-danger">@ViewData["Error"]</div>
                                                                }
                                                            </div>
                                                        </div>

                                                    </form>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-xs-12 pull-left">
                                    <div class="comments-add-col-content">
                                        <h3>دیگران را با نوشتن نظرات خود، برای انتخاب این محصول راهنمایی کنید.</h3>
                                        <div>
                                            <p>لطفا پیش از ارسال نظر، خلاصه قوانین زیر را مطالعه کنید:</p><p>
                                                فارسی بنویسید و از کیبورد فارسی استفاده کنید. بهتر است از فضای خالی (Space)
                                                بیش‌از‌حدِ معمول، شکلک یا ایموجی استفاده نکنید و از کشیدن حروف یا کلمات با
                                                صفحه‌کلید بپرهیزید.
                                            </p>
                                            <p>
                                                به کاربران و سایر اشخاص احترام بگذارید. پیام‌هایی که شامل محتوای توهین‌آمیز و
                                                کلمات نامناسب باشند، حذف می‌شوند.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- product-comment----------------------->


@section Scripts{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <!-- plugin----------------------------------------------------->
    <script src="~/assets/js/vendor/ResizeSensor.min.js"></script>
    <script src="~/assets/js/vendor/theia-sticky-sidebar.min.js"></script>
    <script src="~/assets/js/vendor/wNumbMin.js"></script>
    <script src="~/assets/js/vendor/nouislider.min.js"></script>
    <script src="~/assets/js/vendor/bootstrap-slider.min.js"></script>
    <script src="~/assets/js/vendor/jquery.nice-select.min.js"></script>


    <script src="https://www.google.com/recaptcha/api.js?hl=fa" async defer></script>

    <script>
        //Add Informations Button Scripts

        var GoodnesInput = "<div class='row mb-2 m-2 p-2'><div class='col' ><input type='text' required name='Comment.Goodness' class='form-control' placeholder='نقطه قوت'></div><div class='col'><button type='button' class='btn btn-danger remove-Goodness-btn'><i class='fa fa-trash' aria-hidden='true'></i></button></div></div>";
        $("#add-Goodness-btn").click(function () {
            $(GoodnesInput).insertBefore("#add-Goodness-btn");
        });
        $(document).on("click",
            ".remove-Goodness-btn",
            function () {
                $(this).parent().parent().remove();
            });

        //Add Informations Button Scripts

        var BadsInput = "<div class='row mb-2 m-2 p-2'><div class='col' ><input type='text' required name='Comment.Bads' class='form-control' placeholder='نقطه ضعف'></div><div class='col'><button type='button' class='btn btn-danger remove-Bads-btn'><i class='fa fa-trash' aria-hidden='true'></i></button></div></div>";
        $("#add-Bads-btn").click(function () {
            $(BadsInput).insertBefore("#add-Bads-btn");
        });
        $(document).on("click",
            ".remove-Bads-btn",
            function () {
                $(this).parent().parent().remove();
            });
    </script>
}