@model ProfileViewModel
@{
    ViewData["Title"] = "حساب کاربری";
}

@section Header{

    <!-- plugin-------------------------------------->
    <link rel="stylesheet" href="/assets/css/vendor/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/vendor/noUISlider.min.css">
    <link rel="stylesheet" href="/assets/css/vendor/nice-select.css">
}

<!-- profile------------------------------->
<div class="container-main">
    <div class="d-block">
        <section class="profile-home">
            <div class="col-lg">
                <div class="post-item-profile order-1 d-block">
                    <div class="col-lg-3 col-md-3 col-xs-12 pr">
                        <div class="sidebar-profile sidebar-navigation">
                            <partial name="_SidebarProfilePartial"></partial>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-xs-12 pl">
                        <div class="profile-content">
                            <div class="profile-stats">
                                <table class="table table-profile">
                                    <tbody>
                                        <tr>
                                            <td class="w-50">
                                                <div class="title">نام و نام خانوادگی:</div>
                                                <div class="value">@Model.Name</div>
                                            </td>
                                            <td>
                                                <div class="title">پست الکترونیک :</div>
                                                <div class="value">@Model.Email</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="title">شماره تلفن همراه:</div>
                                                <div class="value">@Model.PhoneNumber</div>
                                            </td>
                                            @*<td>
                                                    <div class="title">تاریخ عضویت:</div>
                                                    <div class="value">۱۳۹۹/۰۱/۱۲</div>
                                                </td>*@
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="title"> دریافت خبرنامه :</div>
                                                @if (Model.IsInNews)
                                                {
                                                    <div class="value">بله</div>
                                                }
                                                else
                                                {
                                                    <div class="value">خیر</div>
                                                }
                                            </td>
                                            <td>
                                                @if (!Model.IsEmailConfirm)
                                                {

                                                    <div class="value">
                                                        <form method="post" asp-action="ConfirmProfileEmail" asp-controller="Account">
                                                            <button class="btn btn-info">ارسال لینک تاییدیه ایمیل</button>
                                                        </form>
                                                    </div>
                                                }
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="profile">
                                    <ul class="mb-0">
                                        <li class="profile-item">
                                            <div class="title">نام و نام خانوادگی:</div>
                                            <div class="value">@Model.Name</div>
                                        </li>
                                        <li class="profile-item">
                                            <div class="title">پست الکترونیک :</div>
                                            <div class="value">@Model.Email</div>
                                        </li>
                                        <li class="profile-item">
                                            <div class="title">شماره تلفن همراه:</div>
                                            <div class="value">@Model.PhoneNumber</div>
                                        </li>
                                        <li class="profile-item">
                                            <div class="title">تاریخ عضویت:</div>
                                            <div class="value">۱۳۹۹/۰۱/۱۲</div>
                                        </li>
                                        <li class="profile-item">
                                            <div class="title"> دریافت خبرنامه :</div>
                                            <div class="value">بله</div>
                                        </li>
                                        <li class="profile-item">
                                            <div class="title"> کد ملی :</div>
                                            <div class="value">-</div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="profile-edit-action">
                                    <a asp-action="PersonalInfo" asp-controller="Account" class="link-spoiler-edit btn btn-secondary">ویرایش اطلاعات</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- profile------------------------------->

@section Scripts{

    <!-- plugin----------------------------------------------------->
    <script src="/assets/js/vendor/owl.carousel.min.js"></script>
    <script src="/assets/js/vendor/jquery.countdown.js"></script>
    <script src="/assets/js/vendor/ResizeSensor.min.js"></script>
    <script src="/assets/js/vendor/theia-sticky-sidebar.min.js"></script>
    <script src="/assets/js/vendor/wNumb.js"></script>
    <script src="/assets/js/vendor/nouislider.min.js"></script>
    <script src="/assets/js/vendor/jquery.nice-select.min.js"></script>
}