@model GetProductDescriptionViewModel
@inject IConfiguration configuration
@{ ViewData["Title"] = "جزئیات محصول"; int b = 0, c = 0; }

@section Header{
    <!-- plugin-------------------------------------->
    <link rel="stylesheet" href="~/assets/css/vendor/bootstrap.css">
    <link rel="stylesheet" href="~/assets/css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/vendor/noUISlider.min.css">
    <link rel="stylesheet" href="~/assets/css/vendor/lightgallery.css">
    <link rel="stylesheet" href="~/assets/css/vendor/nice-select.css">
}

<!-- arshive-product----------------------->
<div class="container-main">
    <div class="d-block">
        <div class="page-content page-row">
            <div class="main-row">
                <div id="breadcrumb">
                    <i class="mdi mdi-home"></i>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">خانه</a></li>
                            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Product">محصولات</a></li>
                            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Product" asp-route-categoryId="@Model.CategoryId">@Model.CategoryName</a></li>
                            <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg">
                    <div class="product type-product">
                        @if (ViewData["Error"] != null)
                        {
                            <div class="alert alert-danger">
                                خطا ! @ViewData["Error"]
                            </div>
                        }
                        @if (ViewData["Success"] != null)
                        {
                            <div class="alert alert-success">
                                موفقیت ! @ViewData["Success"]
                            </div>
                        }
                        <div class="col-lg-5 col-xs-12 pr d-block" style="padding: 0;">
                            <section class="product-gallery">
                                <div class="gallery">
                                    <div class="gallery-item">
                                        <div>
                                            <ul class="gallery-actions">
                                                <li>
                                                    <a asp-action="AddToFavorite" asp-controller="Account"
                                                       asp-route-productId="@Model.Id"
                                                       asp-route-returnUrl="@this.Url.Action("Description", "Product", new {productId=Model.Id})"
                                                       class="btn-option add-product-wishes" style="@(Model.IsInUserFavorite==true?"background: antiquewhite;":"")">
                                                        <i class="mdi mdi-heart-outline"></i>
                                                        <span>محبوب</span>
                                                    </a>
                                                </li>
                                                <li class="Three-dimensional">
                                                    <a href="#" class="btn-option btn-Three-dimensional" data-toggle="modal" data-target="#more-product">
                                                        <i class="mdi mdi-more"></i>
                                                        <span>نمایش بیشتر</span>
                                                    </a>
                                                    <div class="modal fade" id="more-product" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered more-product" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-body">
                                                                    <div id="custom-events">
                                                                        @foreach (var image in Model.Images)
                                                                        {
                                                                            <a href="/Images/ProductImages/@image.ImgSrc">
                                                                                <img src="/Images/ProductImages/@image.ImgSrc" />
                                                                            </a>
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="gallery-item">
                                        <div class="gallery-img">
                                            <a href="/Images/ProductImages/@Model.Images.FirstOrDefault().ImgSrc">
                                                <img class="zoom-img" id="img-product-zoom" src="/Images/ProductImages/@Model.Images.FirstOrDefault().ImgSrc"
                                                     data-zoom-image="/Images/ProductImages/@Model.Images.FirstOrDefault().ImgSrc" width="411" />
                                                <div id="gallery_01f" style="width:420px;float:right;">
                                            </a>
                                            <ul class="gallery-items owl-carousel owl-theme" id="gallery-slider">
                                                @foreach (var image in Model.Images)
                                                {
                                                    <li class="item">
                                                        <a href="/Images/ProductImages/@image.ImgSrc"
                                                           class="elevatezoom-gallery @(b<5?"active":"")" data-update=""
                                                           data-image="/Images/ProductImages/@image.ImgSrc"
                                                           data-zoom-image="/Images/ProductImages/@image.ImgSrc">
                                                            <img src="/Images/ProductImages/@image.ImgSrc" width="100" />
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        </section>
                    </div>
                    <div class="col-lg-7 col-xs-12 pl mt-5 d-block">
                        <section class="product-info">
                            <div class="product-headline">
                                <h1 class="product-title">
                                    @Model.Name
                                </h1>
                            </div>
                            <div class="product-config-wrapper">
                                <div class="product-directory">
                                    <ul>
                                        <li>
                                            <span>
                                                <i class="fa fa-archive"></i> دسته:
                                            </span>
                                            <a href="#" class="product-link product-cat-title">@Model.CategoryName</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col=lg-6 col-md-6 col-xs-12 pr">
                                    @if (Model.IsProductHaveAttributes)
                                    {
                                        <div class="product-variants">
                                            @foreach (var item in Model.Attributes)
                                            {
                                                <div>
                                                    <span>@item.AttributesName: </span>
                                                    <div>
                                                        <select id="selectAttributeValue@(c)" class="form-control m-1" asp-items="item.AttributesValue" onchange="CkeckTemplate(this)">
                                                            <option value="0">لطفا انتخاب کنید !</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                c++;
                                            }
                                            <input id="attributeNameCountInput" value="@Model.Attributes.Count()" type="hidden" />
                                            @foreach (var template in Model.Templates)
                                            {
                                                <input id="templateId@(b)" value="@template.Id" type="hidden" />
                                                <input id="template@(b)" value="@template.Template" type="hidden" />
                                                <input id="templateprice@(b)" value="@template.Price" type="hidden" />
                                                <input id="templatecount@(b)" value="@template.Count" type="hidden" />
                                                b++;
                                            }
                                            <input id="templateCountInput" value="@Model.Templates.Count()" type="hidden" />
                                        </div>
                                    }
                                    @if (Model.Properties!=null)
                                    {
                                        <div class="product-params pt-3">
                                            <ul data-title="ویژگی‌های محصول">
                                                @foreach (var item in Model.Properties.Take(3))
                                                {
                                                    <li>
                                                        <span>@item.PropertyValue: </span>
                                                        <span>@item.PropertyName</span>
                                                    </li>

                                                }
                                            </ul>
                                        </div>
                                    }
                                </div>
                                <div class="col=lg-6 col-md-6 col-xs-12 pr">
                                    <div class="product-seller-info">
                                        <div class="seller-info-changable">
                                            <div class="product-seller-row vendor">
                                                <span class="title"> فروشنده:</span>
                                                <a href="#" class="product-name">کلوزاستور</a>
                                            </div>
                                            <div class="product-seller-row price">
                                                <span class="title"> قیمت:</span>
                                                <a href="#" class="product-name">
                                                    <span class="amount">
                                                        @if (Model.IsProductHaveAttributes == false)
                                                        {
                                                            <text>@Model.Price</text>
                                                        }
                                                        else
                                                        {
                                                            <span id="templatePrice"></span>
                                                        }
                                                        <span>تومان</span>
                                                    </span>
                                                </a>
                                            </div>
                                            <form asp-action="AddToCart" asp-controller="Account" method="get" enctype="text/plain">
                                                <input type="hidden" name="returnUrl" value="@this.Url.Action("Description", "Product", new {productId=Model.Id})" />
                                                <input type="hidden" asp-for="Id" name="productId" />
                                                <div class="product-seller-row guarantee">
                                                    <span class="title mt-3"> تعداد:</span>
                                                    <div class="quantity pl">
                                                        @if (Model.IsProductHaveAttributes == false)
                                                        {
                                                            <input name="count" type="number" min="1" max="@Model.Count" step="1" value="1">
                                                        }
                                                        else
                                                        {
                                                            <div id="insertCounter"></div>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="product-seller-row add-to-cart">
                                                    <input type="hidden" id="templateId" asp-for="TemplateId" name="templateId" value="0" />
                                                    <button class="btn-add-to-cart btn btn-primary @(Model.IsProductHaveAttributes==true?"disabled":"")"
                                                            id="btnAddTocart">
                                                        <span class="btn-add-to-cart-txt">افزودن به سبد خرید</span>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="tabs">
                <div class="tab-box">
                    <ul class="tab nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="Review-tab" data-toggle="tab" href="#Review" role="tab" aria-controls="Review" aria-selected="true">
                                <i class="mdi mdi-glasses"></i>
                                نقد و بررسی
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="Specifications-tab" data-toggle="tab" href="#Specifications" role="tab" aria-controls="Specifications" aria-selected="false">
                                <i class="mdi mdi-format-list-checks"></i>
                                مشخصات
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="User-comments-tab" data-toggle="tab" href="#User-comments" role="tab" aria-controls="User-comments" aria-selected="false">
                                <i class="mdi mdi-comment-text-multiple-outline"></i>
                                نظرات کاربران
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="question-and-answer-tab" data-toggle="tab" href="#question-and-answer" role="tab" aria-controls="question-and-answer" aria-selected="false">
                                <i class="mdi mdi-comment-question-outline"></i>
                                پرسش و پاسخ
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg">
                    <div class="tabs-content">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="Review" role="tabpanel" aria-labelledby="Review-tab">
                                <h2 class="params-headline">نقد و بررسی اجمالی</h2>
                                <section class="">
                                    <div class="mask pm-3">
                                        <div class="mask-text" style="overflow:hidden">
                                            <p>@Html.Raw(Model.Description)</p>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="tab-pane fade" id="Specifications" role="tabpanel" aria-labelledby="Specifications-tab">
                                <article>
                                    <h2 class="params-headline">
                                        مشخصات
                                        <span>@Model.Name</span>
                                    </h2>
                                    <section>
                                        <ul class="params-list">
                                            @foreach (var item in Model.Properties)
                                            {
                                                <li class="params-list-item">
                                                    <div class="params-list-key">
                                                        <span class="block">@item.PropertyValue</span>
                                                    </div>
                                                    <div class="params-list-value">
                                                        <span class="block">
                                                            @item.PropertyName
                                                        </span>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    </section>
                                </article>
                            </div>
                            <div class="tab-pane fade" id="User-comments" role="tabpanel" aria-labelledby="User-comments-tab">
                                <div class="comments">
                                    <h2 class="params-headline">
                                        نظرات برای محصول
                                        <span>@Model.Name</span>
                                    </h2>
                                    <div class="comments-summary">
                                        <div class="col-lg-6 col-md-6 col-xs-12 pr">
                                            <div class="comments-summary-box">
                                                <p>
                                                    برای ثبت نظر ابتدا باید وارد سایت شوید و بعد میتوانید نظر را ثبت کنید ... <br />
                                                    نظر شما بعد از 24 ساعت توسط ادمین اگر تایید شود نشان داده می شود و در صورت تایید نکردن نشان داده نمی شود !!
                                                </p>
                                                @*<ul class="comments-item-rating">
                                                        <li>
                                                            <span class="cell-title">کیفیت ساخت:</span>
                                                            <span class="cell-value">خوب</span>
                                                            <div class="rating-general">
                                                                <div class="rating-value"></div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <span class="cell-title">ارزش خرید به نسبت قیمت:</span>
                                                            <span class="cell-value">خوب</span>
                                                            <div class="rating-general">
                                                                <div class="rating-value"></div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <span class="cell-title">نوآوری:</span>
                                                            <span class="cell-value">خوب</span>
                                                            <div class="rating-general">
                                                                <div class="rating-value" style="width: 70%;"></div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <span class="cell-title">امکانات و قابلیت ها:</span>
                                                            <span class="cell-value">متوسط</span>
                                                            <div class="rating-general">
                                                                <div class="rating-value" style="width: 65%;"></div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <span class="cell-title">سهولت استفاده:</span>
                                                            <span class="cell-value">خوب</span>
                                                            <div class="rating-general">
                                                                <div class="rating-value" style="width: 75%;"></div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <span class="cell-title">طراحی و ظاهر:</span>
                                                            <span class="cell-value">خوب</span>
                                                            <div class="rating-general">
                                                                <div class="rating-value"></div>
                                                            </div>
                                                        </li>
                                                    </ul>*@
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-xs-12 pr">
                                            <div class="comments-summary-note">
                                                <h6>شما هم می‌توانید در مورد این کالا نظر بدهید.</h6>
                                                @if (!User.Identity.IsAuthenticated)
                                                {
                                                    <p>
                                                        برای ثبت نظر، لازم است ابتدا وارد حساب کاربری خود شوید. اگر این محصول را قبلا از کلوزاستور خریده باشید،
                                                        نظر
                                                        شما به عنوان مالک محصول ثبت خواهد شد.
                                                    </p>
                                                }
                                                else
                                                {
                                                    <a asp-action="ProductComment" asp-controller="Account" asp-route-Id="@Model.Id" class="btn-add-comment btn btn-secondary">افزودن نظر جدید</a>
                                                }
                                            </div>
                                        </div>
                                        <div class="product-comment-list">
                                            <ul class="comment-list">
                                                @foreach (var comment in Model.Comments)
                                                {

                                                    <li>
                                                        <div class="col-lg-3 pr">
                                                            <section>
                                                                <div class="comments-user-shopping">
                                                                    @comment.UserName
                                                                    <div class="cell-date">
                                                                        نظر ثبت شده در تاریخ
                                                                        <time dir="ltr">@comment.InsertTime</time>
                                                                    </div>
                                                                    @if (comment.CustomerSuggestToBuy)
                                                                    {
                                                                        <div class="message-light"><i class="fa fa-thumbs-o-up"></i>خرید این محصول را پیشنهاد میکنم</div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="message-light"><i class="fa fa-thumbs-o-down"></i>خرید این محصول را پیشنهاد نمیکنم</div>
                                                                    }
                                                                </div>
                                                            </section>
                                                        </div>
                                                        <div class="col-lg-9 pl">
                                                            <div class="article">
                                                                <ul class="comment-text">
                                                                    <div class="header">
                                                                        <div>@comment.Topic</div>
                                                                        @*<div class="product-rate pl">
                                                                                <i class="fa fa-star active"></i>
                                                                                <i class="fa fa-star active"></i>
                                                                                <i class="fa fa-star active"></i>
                                                                                <i class="fa fa-star active"></i>
                                                                                <i class="fa fa-star active"></i>
                                                                            </div>*@
                                                                        <p>@comment.Text</p>
                                                                    </div>
                                                                    <div class="comments-evaluation">
                                                                        @if (comment.GoodNess != null)
                                                                        {
                                                                            <div class="comments-evaluation-positive">
                                                                                <span>نقاط قوت</span>
                                                                                <ul>
                                                                                    @foreach (var good in comment.GoodNess)
                                                                                    {
                                                                                        <li>@good</li>
                                                                                    }
                                                                                </ul>
                                                                            </div>
                                                                        }
                                                                        @if (comment.Bads != null)
                                                                        {
                                                                            <div class="comments-evaluation-negative">
                                                                                <span>نقاط ضعف</span>
                                                                                <ul>
                                                                                    @foreach (var bad in comment.Bads)
                                                                                    {
                                                                                        <li>@bad</li>
                                                                                    }
                                                                                </ul>
                                                                            </div>
                                                                        }
                                                                        @*<div class="footer">
                                                                                <div class="comments-likes">
                                                                                    آیا این نظر برایتان مفید بود؟
                                                                                    <button class="btn-like js-comment-like" type="submit">
                                                                                        بله
                                                                                        <span class="count">8</span>
                                                                                    </button>
                                                                                    <button class="btn-like js-comment-dislike" type="submit">
                                                                                        خیر
                                                                                        <span class="count">4</span>
                                                                                    </button>
                                                                                </div>
                                                                            </div>*@
                                                                    </div>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="question-and-answer" role="tabpanel" aria-labelledby="question-and-answer-tab">
                                <div class="faq">
                                    <h2 class="params-headline">
                                        پرسش و پاسخ
                                        <span>پرسش خود را در مورد محصول مطرح نمایید</span>
                                    </h2>
                                    <form asp-action="AskQuestion" asp-controller="Product"
                                          method="post"
                                          asp-route-returnUrl="@this.Url.Action("Description", "Product", new {productId=Model.Id})" class="form-faq">
                                        <div class="form-faq-row mt-4">
                                            <div class="form-faq-col">
                                                <div class="ui-textarea">
                                                    <input id="userEmailQuestion" style="transition:all 2s;" required asp-for="Question.Email" placeholder="ایمیل" class="form-control" />
                                                    <input hidden type="hidden" asp-for="Question.ProductId" value="@Model.Id" class="form-control" />
                                                    <span style="color:red" asp-validation-for="Question.Email"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-faq-row mt-4">
                                            <div class="form-faq-col">
                                                <div class="ui-textarea">
                                                    <textarea required asp-for="Question.Text" title="متن سوال" class="ui-textarea-field"></textarea>
                                                    <input value="0" asp-for="Question.ReplayId" type="hidden" id="ReplayId" />
                                                    <span style="color:red" asp-validation-for="Question.Text"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-faq-row mt-4">
                                            <div class="form-faq-col">
                                                <label for="password">ربات نیستم</label>
                                                <div class="g-recaptcha" data-sitekey="@configuration["reCAPTCHA:SiteKey"]"></div>
                                            </div>
                                        </div>
                                        <div class="form-faq-row mt-4">
                                            <div class="form-faq-col form-faq-col-submit">
                                                <button class="btn-tertiary btn btn-secondary" type="submit">ثبت پرسش</button>
                                            </div>
                                        </div>
                                    </form>
                                    <div id="product-questions-list">
                                        @foreach (var question in Model.Questions)
                                        {
                                            @if (question.Counter == 0)
                                            {
                                                <div class="questions-list">
                                                    <ul class="faq-list">
                                                        <li class="is-question">
                                                            <div class="section">
                                                                <div class="faq-header">
                                                                    <span class="icon-faq">?</span>
                                                                    <p class="h5">
                                                                        پرسش :
                                                                        <span>@question.Email</span>
                                                                    </p>
                                                                </div>
                                                                <p>@question.Text</p>
                                                                <div class="faq-date">
                                                                    @*<em>۱۴ فروردین ۱۳۹۹</em>*@
                                                                </div>
                                                                <input value="@question.Id" id="CommentId" type="hidden" />
                                                                <button id="ReplayButton" class="js-add-answer-btn btn-outline-info">
                                                                    به این پرسش پاسخ
                                                                    دهید
                                                                </button>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="questions-list answer-questions">
                                                    <ul class="faq-list">
                                                        <li class="is-question">
                                                            <div class="section">
                                                                <div class="faq-header">
                                                                    <span class="icon-faq"><i class="mdi mdi-storefront"></i></span>
                                                                    <p class="h5">
                                                                        پاسخ :
                                                                        <span>@question.Email</span>
                                                                    </p>
                                                                </div>
                                                                <p>@question.Text</p>
                                                                <div class="faq-date">
                                                                    @*<em>۱۴ فروردین ۱۳۹۹</em>*@
                                                                </div>
                                                                <input value="@question.Id" id="CommentId" type="hidden" />
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- arshive-product----------------------->


@section Scripts{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/Vendors/ckeditor5/build/ckeditor.js"></script>

    <!-- plugin----------------------------------------------------->
    <script src="/assets/js/vendor/owl.carousel.min.js"></script>
    <script src="/assets/js/vendor/jquery.countdown.js"></script>
    <script src="/assets/js/vendor/lightgallery-all.js"></script>
    <script src="/assets/js/vendor/jquery.ez-plus.js"></script>
    <script src="/assets/js/vendor/jquery.nice-select.min.js"></script>

    <script src="https://www.google.com/recaptcha/api.js?hl=fa" async defer></script>

    <script type="text/javascript">

        function CkeckTemplate(sel) {

            var templateCount = document.getElementById("templateCountInput").value;

            if (templateCount != 0 || templateCount != "0" || templateCount !== undefined) {

                var attributeNameCount = 0;

                attributeNameCount = document.getElementById("attributeNameCountInput").value;

                var attributeValue = "";

                for (var i = 0; i < attributeNameCount; i++) {

                    if (i == 0) {
                        var selectInput = document.getElementById("selectAttributeValue0");

                        attributeValue = selectInput.options[selectInput.selectedIndex].text;
                    }

                    else {
                        var selectId = "selectAttributeValue" + i;

                        var selectInput = document.getElementById(selectId);

                        attributeValue += "_" + selectInput.options[selectInput.selectedIndex].text;
                    }
                }

                var templateList = [];
                var templateListId = [];
                var templateListPrice = [];
                var templateListCount = [];

                for (var i = 0; i < templateCount; i++) {

                    var templateListClass = "template" + i;
                    var templateIdClass = "templateId" + i;
                    var templatePriceClass = "templateprice" + i;
                    var templateCountClass = "templatecount" + i;

                    templateList[i] = document.getElementById(templateListClass).value;

                    templateListId[i] = document.getElementById(templateIdClass).value;

                    templateListPrice[i] = document.getElementById(templatePriceClass).value;

                    templateListCount[i] = document.getElementById(templateCountClass).value;
                }

                for (var i = 0; i < templateCount; i++) {

                    if (templateList[i] == attributeValue) {

                        document.getElementById("templateId").value = templateListId[i];

                        document.getElementById("templatePrice").innerHTML = templateListPrice[i];

                        var optionsCount = "";

                        if (templateListCount[i] >= 5) {
                            for (var e = 0, count = 1; e < 5; e++, count++) {
                                optionsCount += "<option value='" + count + "'>" + count + "</option> "
                            }
                        }
                        else {
                            for (var e = 0, count = 1; e < templateListCount[i]; e++, count++) {
                                optionsCount += "<option value='" + count + "'>" + count + "</option> "
                            }
                        }

                        var inputCreator = "<select name='count' class='form-control m-1'>" + optionsCount + "</select>";

                        document.getElementById("insertCounter").innerHTML = inputCreator;

                        $("#btnAddTocart").removeClass("disabled");

                        break;
                    }
                    else {
                        document.getElementById("templateId").value = "";
                        document.getElementById("templatePrice").innerHTML = "0";
                        document.getElementsByClassName("quantity ").innerHTML = "";
                        document.getElementById("insertCounter").innerHTML = "نا موجود";

                        $("#btnAddTocart").addClass("disabled");
                    }
                }
            }
        }
    </script>

    <script>

        $(document).on("click", "#ReplayButton",
            function getFocus() {

                document.getElementById("userEmailQuestion").focus({ preventScroll: false });

                var commentId = $(this).prev().val();

                if (commentId !== undefined) {
                    document.getElementById("ReplayId").value = commentId;
                    document.getElementById("userEmailQuestion").style.borderColor = "red";
                }

            }
        )

    </script>

}