@model ProductIndexViewModel
@{
    ViewData["Title"] = "لیست محصولات";
}

@section Header{
    <!-- plugin-------------------------------------->
    <link rel="stylesheet" href="/assets/css/vendor/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/vendor/noUISlider.min.css">
    <link rel="stylesheet" href="/assets/css/vendor/nice-select.css">
}

<!-- arshive-product----------------------->
<div class="container-main">
    <div class="d-block">
        <div class="page-content page-row">
            <div class="main-row">
                <div id="breadcrumb">
                    <i class="mdi mdi-home"></i>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">خانه</a></li>
                            <li class="breadcrumb-item active" aria-current="page">آرشیو محصولات</li>
                        </ol>
                    </nav>
                </div>

                <!-- start sidebar--------------------->
                <div class="col-lg-3 col-md-3 col-xs-12 pr sticky-sidebar">
                    <div class="shop-archive-sidebar">
                        <div class="sidebar-archive mb-3">
                            <section class="widget-product-categories">
                                <header class="cat-header">
                                    <h2 class="mb-0">
                                        <button class="btn btn-block text-right" data-toggle="collapse" href="#headingOne" role="button" aria-expanded="false" aria-controls="headingOne">
                                            دسته بندی محصولات
                                            <i class="mdi mdi-chevron-down"></i>
                                        </button>
                                    </h2>
                                </header>
                                <div class="product-filter">
                                    <div class="card">
                                        <form class="form-group" method="get" asp-action="Index" asp-controller="Product" id="categoryForm">
                                            <input type="hidden" value="@ViewBag.FilterName" name="filter" />
                                            <input type="hidden" value="@ViewBag.SearchProduct" name="searchProduct" />
                                            <div class="collapse show" id="headingOne">
                                                <div class="card-main mb-0">
                                                    <div class="form-auth-row">
                                                        <label for="#" class="ui-checkbox">
                                                            <input type="checkbox" value="0" @(Model.CategoriesId.Any(p => p == 0) ? "checked" : "") name="categoriesId" class="categorySelectAll">
                                                            <span class="ui-checkbox-check"></span>
                                                        </label>
                                                        <label for="remember" class="remember-me">همه</label>
                                                    </div>
                                                </div>
                                                @foreach (var item in Model.CategoriesTreeView)
                                                {
                                                    @if (item.Count == 0)
                                                    {
                                                        <div class="card-main mb-0">
                                                            <div class="form-auth-row">
                                                                <label for="#" class="ui-checkbox">
                                                                    <input type="checkbox" value="@item.Id" @(Model.CategoriesId.Any(p => item.Id == p) ? "checked" : "") name="categoriesId" class="categorySelect">
                                                                    <span class="ui-checkbox-check"></span>
                                                                </label>
                                                                <label for="remember" class="remember-me">
                                                                    @item.Name
                                                                    <span class="badge badge-primary badge-pill" style="font-size:medium">@item.ProductCount</span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="card-main mb-0" style="margin-right:@(item.Count*2)px">
                                                            <div class="form-auth-row">
                                                                <label for="#" class="ui-checkbox">
                                                                    <input type="checkbox" value="@item.Id" @(Model.CategoriesId.Any(p => item.Id == p) ? "checked" : "") name="categoriesId" class="categorySelect">
                                                                    <span class="ui-checkbox-check"></span>
                                                                </label>
                                                                <label for="remember" class="remember-me">
                                                                    @item.Name
                                                                    <span class="badge badge-primary badge-pill" style="font-size:medium">@item.ProductCount</span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </section>
                            <section class="widget-product-categories" style="display:none">
                                <header class="cat-header">
                                    <h2 class="mb-0">
                                        <button class="btn btn-block text-right collapsed" data-toggle="collapse" href="#headingThree" role="button" aria-expanded="false" aria-controls="headingThree">
                                            محدوده قیمت
                                            <i class="mdi mdi-chevron-down"></i>
                                        </button>
                                    </h2>
                                </header>
                                <div class="product-filter">
                                    <div class="card">
                                        <div class="collapse show" id="headingThree">
                                            <div class="card-main mb-0">
                                                <div class="box-data">
                                                    <form asp-action="index" asp-controller="product">
                                                        <div class="mt-5 mb-4">
                                                            <div id="slider-non-linear-step"></div>
                                                        </div>
                                                        <div class="filter-range mt-2 mb-2 pr">
                                                            <span>قیمت: </span>
                                                            <input type="hidden" value="@ViewData["Filter"]" name="filter" />
                                                            <input type="hidden" value="@ViewBag.SearchProduct" name="searchProduct" />
                                                            <span class="example-val" id="slider-non-linear-step-value"></span> تومان
                                                        </div>
                                                        <div class="mt-2 pl">
                                                            <button class="btn btn-range">
                                                                اعمال
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-xs-12 pl">
                    <div class="shop-archive-content mt-3 d-block">
                        <div class="archive-header">
                            <h2 class="archive-header-title">آرشیو محصولات</h2>
                            <div class="sort-tabs mt-0 d-inline-block pr">
                                <h4>مرتب‌سازی بر اساس :</h4>
                            </div>
                            <div class="nav-sort-tabs-res">
                                <form class="form-group" asp-action="Index" asp-controller="Product" id="filterForm" method="get" enctype="text/plain">
                                    @if (ViewBag.SearchProduct != null)
                                    {
                                        <input type="hidden" value="@ViewBag.SearchProduct" name="searchProduct" />
                                    }
                                    @if (ViewBag.CategoriesId != null)
                                    {
                                        @foreach (var item in Model.CategoriesId)
                                        {
                                            <input type="hidden" value="@item" name="categoriesId" />
                                        }
                                    }
                                    <input type="hidden" name="filter" id="filterInput" />
                                    <ul class="nav sort-tabs-options" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <small style="padding-top:3px" class="nav-link @(ViewData["Filter"].ToString()=="1"?"active":"") filterNew">جدیدترین</small>
                                        </li>
                                        <li class="nav-item">
                                            <small style="padding-top:3px" class="nav-link @(ViewData["Filter"].ToString()=="3"?"active":"") filterCheaper">ارزان‌ترین</small>
                                        </li>
                                        <li class="nav-item">
                                            <small style="padding-top:3px" class="nav-link @(ViewData["Filter"].ToString()=="2"?"active":"") filterExpensive">گران‌ترین</small>
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                        <div class="product-items">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="Most-visited" role="tabpanel" aria-labelledby="Most-visited-tab">
                                    <div class="row">
                                        @foreach (var product in Model.Products)
                                        {
                                            <div class="col-lg-3 col-md-3 col-xs-12 order-1 d-block mb-3">
                                                <section class="product-box product product-type-simple">
                                                    <div class="thumb">
                                                        <a asp-action="Description" asp-controller="Product" asp-route-productId="@product.Id" class="d-block">
                                                            @*<div class="promotion-badge">فروش ویژه</div>
                                                                <div class="product-rate">
                                                                    <i class="fa fa-star active"></i>
                                                                    <i class="fa fa-star active"></i>
                                                                    <i class="fa fa-star active"></i>
                                                                    <i class="fa fa-star active"></i>
                                                                    <i class="fa fa-star"></i>
                                                                </div>
                                                                <div class="discount-d">
                                                                    <span>20%</span>
                                                                </div>*@
                                                            <img src="/Images/ProductImages/@product.ImageSrc" style="height: 195px; width: 191px; ">
                                                        </a>
                                                    </div>
                                                    <div class="title">
                                                        <a asp-action="Description" asp-controller="Product" asp-route-productId="@product.Id">@product.Name</a>
                                                    </div>
                                                    <div class="price">
                                                        <span class="amount">
                                                            @product.Price.ToString("#,0")
                                                            <span>تومان</span>
                                                        </span>
                                                    </div>
                                                </section>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 row" style="justify-content:center">
                            <partial name="_PagingParitial"></partial>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- arshive-product----------------------->


@section Scripts{


    <!-- plugin----------------------------------------------------->
    <script src="/assets/js/vendor/owl.carousel.min.js"></script>
    <script src="/assets/js/vendor/jquery.countdown.js"></script>
    <script src="/assets/js/vendor/ResizeSensor.min.js"></script>
    <script src="/assets/js/vendor/theia-sticky-sidebar.min.js"></script>
    <script src="/assets/js/vendor/wNumb.js"></script>
    <script src="/assets/js/vendor/nouislider.min.js"></script>
    <script src="/assets/js/vendor/jquery.nice-select.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".categorySelect").change(function () {
                $(".categorySelectAll").attr("checked", false);
                $("#categoryForm").submit();
            });

            $(".categorySelectAll").change(function () {
                $(".categorySelect").attr("checked", false);
                $("#categoryForm").submit();
            });

            $(".filterNew").click(function () {
                $("#filterInput").val("New");
                $("#filterForm").submit();
            });
            $(".filterCheaper").click(function () {
                $("#filterInput").val("Cheaper");
                $("#filterForm").submit();
            });
            $(".filterExpensive").click(function () {
                $("#filterInput").val("Expensive");
                $("#filterForm").submit();
            });
        });
    </script>

}