@model IEnumerable<FactorViewModel>
@{
    ViewData["Title"] = "سفارشات"; int i = 1;
}

<!--Shopping cart starts-->
<section id="shopping-cart">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-warning">
                        <h4 class="card-title">کاربران</h4>
                        <div class="col-md-12">
                            <form class="row form-group" asp-action="GetFactors" asp-controller="AccountManager" enctype="text/plain" method="get">
                                <input type="text" class="form-control col-md-4 m-1" value="@ViewBag.Search" placeholder="ایمیل کاربر و یا کد رهگیری را وارد کنید ..." name="search" />
                                <select class="form-control col-md-4 m-1" name="filter">
                                    <option class="bg-blue white" value="@ViewBag.Filter">@ViewBag.FilterName</option>
                                    <option value="New">جدید ترین</option>
                                    <option value="Old">قدیمی ترین</option>
                                    <option value="Progssess">در حال اجرا</option>
                                    <option value="Cansel">لغو شده ها</option>
                                    <option value="Success">اتمام یافته</option>
                                </select>
                                <button class="btn btn-outline-primary m-1"><i class="icon-magnifier"></i> جست و جو</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    @if (TempData["Error"] != null)
                    {
                        <div class="aler alert-danger round m-2 p-2">
                            <p>
                                <strong>خطا ! </strong>@TempData["Error"]
                            </p>
                        </div>}
                    @if (TempData["Success"] != null)
                    {
                        <div class="aler alert-success round m-2 p-2">
                            <p>
                                <strong>موفقیت ! </strong>@TempData["Success"]
                            </p>
                        </div>}
                    <div class="card-block">
                        <div class="table-responsive">
                            <table id="recent-orders" class="table table-hover table-xl mb-0">
                                <thead>
                                    <tr>
                                        <th class="border-top-0">#</th>
                                        <th class="border-top-0">کد رهگیری</th>
                                        <th class="border-top-0">ایمیل</th>
                                        <th class="border-top-0">از تخفیفی استفده کرده است؟</th>
                                        <th class="border-top-0">قیمت پرداخت شده</th>
                                        <th class="border-top-0">وضعیت فاکتور</th>
                                        <th class="border-top-0">عملیات</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td class="text-truncate">
                                            @i

                                        </td>
                                        <td class="text-truncate">
                                            @item.RefId
                                        </td>
                                        <td class="text-truncate p-1">
                                            @item.UserEmail
                                        </td>
                                        <td>
                                            @if (item.UseDisCount)
                                            {
                                                <p class="success">بله</p>
                                            }
                                            else
                                            {
                                                <p class="red">خیر</p>
                                            }
                                        </td>
                                        <td>
                                            @item.TotalPrice
                                        </td>
                                        <td>
                                            @if (item.FactorStatus == "در حال انجام")
                                            {
                                                <p class="info">در حال اجرا</p>
                                            }
                                            else if (item.FactorStatus == "لغو شده")
                                            {
                                                <p class="red">لغو شده</p>
                                            }
                                            else if (item.FactorStatus == "اتمام یافته")
                                            {
                                                <p class="success">اتمام یافته</p>
                                            }
                                        </td>
                                        <td class="text-truncate">
                                            <a class="btn btn-outline-primary"
                                               asp-action="EditFactor"
                                               asp-controller="AccountManager"
                                               asp-route-factorId="@item.Id">جزئیات</a>
                                        </td>
                                    </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <partial name="_PagingParitial"></partial>
            </div>
        </div>
    </div>
</section>
<!--Shopping cart ends-->
