@model IList<QuestionViewModel>
@{
    ViewData["Title"] = "سوالات"; int i = 1;
}

<!--Shopping cart starts-->
<section id="shopping-cart">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-warning">
                        <h4 class="card-title">نظرات</h4>
                        <div class="col-md-12">
                            <form class="row form-group" asp-action="GetQuestions" asp-controller="AccountManager" enctype="text/plain" method="get">
                                <input type="text" class="form-control col-md-4 m-1" value="@ViewBag.Search" placeholder="متن سوال ، موضوع ، نام محصول و یا نام کاربری را جست و جو کنید ..." name="Search" />
                                <select class="form-control col-md-4 m-1" name="filter">
                                    <option class="bg-blue white" value="@ViewBag.Filter">@ViewBag.FilterName</option>
                                    <option value="newest">جدید ترین</option>
                                    <option value="older">قدیمی ترین</option>
                                    <option value="noAwnser">پاسخ داده نشده</option>
                                </select>
                                <button class="btn btn-outline-primary m-1"><i class="icon-magnifier"></i> جست و جو</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    @if (TempData["Error"] != null)
                    {
                        <div class="aler alert-danger m-2 p-2">
                            <p>
                                <strong>خطا ! </strong>@TempData["Error"]
                            </p>
                        </div>}
                    @if (TempData["Success"] != null)
                    {
                        <div class="aler alert-success m-2 p-2">
                            <p>
                                <strong>موفقیت ! </strong>@TempData["Success"]
                            </p>
                        </div>}
                    <div class="card-block">
                        <div class="table-responsive">
                            <form method="post" asp-action="DeleteQuestion" asp-controller="AccountManager">
                                <table id="recent-orders" class="table table-hover table-xl mb-0">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0">#</th>
                                            <th class="border-top-0"><button type="submit" class="btn btn-outline-danger"><i class="icon-trash"></i></button></th>
                                            <th class="border-top-0">ایمیل کاربر</th>
                                            <th class="border-top-0">نام محصول</th>
                                            <th class="border-top-0">موضوع سوال</th>
                                            <th class="border-top-0">سوال</th>
                                            <th class="border-top-0">عملیات</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int b = 0; b < Model.Count(); b++, i++)
                                        {
                                            <tr>
                                                <td class="text-truncate">
                                                    @i
                                                </td>
                                                <td>
                                                    <input type="checkbox" asp-for="@Model[b].IsSelected" />
                                                    <input asp-for="@Model[b].Id" type="hidden" />
                                                </td>
                                                <td class="text-truncate">
                                                    @if (Model[b].Email.Length > 10)
                                                    {
                                                        <text> @Model[b].Email.Remove(10) </text> }
                                                    else
                                                    {
                                                        @Model[b].Email}
                                                </td>
                                                <td class="text-truncate p-1">
                                                    <img src="/Images/ProductImages/@Model[b].ProductImage" style="width:65px;height:65px" />

                                                    @if (Model[b].ProductName.Length > 10)
                                                    {
                                                        <text> @Model[b].ProductName.Remove(10) </text> }
                                                    else
                                                    {
                                                        @Model[b].ProductName}
                                                </td>
                                                <td>
                                                    @if (!string.IsNullOrWhiteSpace(Model[b].Topic))
                                                    {
                                                        if (Model[b].Topic.Length > 20)
                                                        {
                                                            <text> @Model[b].Topic.Remove(20) </text>
                                                        }
                                                        else
                                                        {
                                                            @Model[b].Topic
                                                        }
                                                    }
                                                </td>
                                                <td>
                                                    @if (Model[b].Text.Length > 20)
                                                    {
                                                        <text> @Model[b].Text.Remove(20) </text> }
                                                    else
                                                    {
                                                        @Model[b].Text}
                                                </td>
                                                <td class="text-truncate">
                                                    <a class="btn btn-outline-primary"
                                                       asp-action="EditQuestion"
                                                       asp-controller="AccountManager"
                                                       asp-route-questionId="@Model[b].Id">ویرایش</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
                <partial name="_PagingParitial"></partial>
            </div>
        </div>
    </div>
</section>
<!--Shopping cart ends-->
