@model IEnumerable<GetCategoriesTreeViewViewModel>

<ul class="nav-categories ul-base">
    @foreach (var item in Model)
    {
        @if (item.Children.Count() > 0)
        {
            <li>
                <a href="#" class="collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"><i class="mdi mdi-chevron-down"></i>@item.Name</a>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample" style="">
                    <ul>
                        @foreach (var subItem in item.Children)
                        {
                            @if (subItem.Count == 1)
                            {
                                <li class="has-sub" style="margin-right:@(subItem.Count*4)px">
                                    <a asp-action="index" asp-controller="Product" asp-route-categoriesId="@subItem.Id" class="category-level-2">@subItem.Name</a>
                                </li>
                            }
                            else
                            {
                                <li class="has-sub" style="margin-right:@(subItem.Count*2)px">
                                    <a asp-action="index" asp-controller="Product" asp-route-categoriesId="@subItem.Id" class="category-level-2">@subItem.Name</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </li>

        }
        else
        {
            <li><a asp-action="index" asp-controller="Product" asp-route-categoriesId="@item.Id">@item.Name</a></li>
        }
    }
</ul>