@model GetProductViewModel
@{
    ViewData["Title"] = "ویراش محصول";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title-wrap bar-success">
                    <h4 class="card-title" id="basic-layout-form">جزئیات محصول @Model.Name</h4>
                </div>
                <p class="mb-0">محصول خود را مشاهده ، ویراش و حذف کنید.</p>
            </div>
            <div class="card-body">
                <div class="px-3">
                    <form asp-action="EditProduct" asp-controller="ProductManager" method="post" enctype="multipart/form-data">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="projectinput1">نام محصول</label>
                                        <input class="form-control round" asp-for="Name" />
                                        <span asp-validation-for="Name" required class="red"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="projectinput2">دسته محصول</label>
                                        <select class="custom-select d-block w-100 round"
                                                asp-for="CategoryId" asp-items="Model.Categories">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="projectinput2">تعداد</label>
                                        <input class="form-control round" asp-for="Count"  required />
                                        <span asp-validation-for="Count" class="red"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="projectinput2">قیمت</label>
                                        <input class="form-control round" asp-for="Price" required  />
                                        <span asp-validation-for="Price" class="red"></span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-12">خصوصیات محصول</label>
                                        <div class="form-group p-2 border-dark product-informations">
                                            @if (Model.Properties != null)
                                            {
                                                foreach (var property in Model.Properties)
                                                {
                                                    <div class="row mb-2">
                                                        <input value="@property.ValueId" hidden />
                                                        <div class="col"><input type="text" class="form-control round" placeholder="نام" value="@property.ValueType"></div>
                                                        <div class="col"><input type="text" class="form-control round" placeholder="مقدار" value="@property.ValueName"></div>
                                                        <div class="col"><button type="button" class="btn btn-danger remove-information-btn"><i class="fa fa-trash" aria-hidden="true"></i></button></div>
                                                    </div>
                                                }
                                            }
                                            <button id="add-information-btn" type="button" class="btn btn-success">افزودن مشخصات</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <p>توضیحات</p>
                                        <textarea rows="10" id="editor" asp-for="Detail" class="round"></textarea>
                                        <span asp-validation-for="Detail" class="red"></span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @if (Model.Images.Count() < 5)
                                        {
                                            <p>آپلود عکس</p>
                                            <label for="attachment" class="w-100 text-center">
                                                <a class="upload-btn mb-2" role="button" aria-disabled="false"><i class="bi bi-cloud-arrow-up-fill text-info display-3"></i></a>
                                            </label>
                                            <h4 id="upfile1" style="cursor:pointer"><i class="icon-cloud-upload"></i>آپلود عکس</h4>
                                            <input style="display:none" type="file" asp-for="UploadImages" accept=".png,.jpg,.jpeg" id="attachment" multiple />
                                        }
                                        <p id="files-area">
                                            <span id="filesList">
                                                <span id="files-names">
                                                    @if (Model.Images != null)
                                                    {
                                                        foreach (var currentProductImage in Model.Images)
                                                        {
                                                            <input value="@currentProductImage.ImgId" hidden />
                                                            <span class="file-block">
                                                                <span class="delete-currentProductImage badge badge-danger">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
                                                                    </svg>
                                                                </span><img class="productimages height-100 width-100 round" src="/Images/ProductImages/@currentProductImage.ImgSrc" alt="@currentProductImage.ImgId">
                                                            </span>
                                                        }
                                                    }
                                                </span>
                                            </span>
                                        </p>
                                        <span asp-validation-for="UploadImages" class="red"></span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-actions">
                                        <input type="hidden" class="hide" readonly asp-for="Id" />
                                        <button type="submit" class="btn btn-success">
                                            <i class="icon-pencil"></i> ویرایش
                                        </button>
                                        <a asp-action="Index" asp-controller="ProductManager" class="btn btn-primary">
                                            برگشت به لیست
                                        </a>
                                    </div>
                                    @if (ViewData["Success"] != null)
                                    {
                                        <div class="col-md-12 alert alert-success">
                                            <p><strong>موفقیت ! </strong>@ViewData["Success"]</p>
                                        </div>
                                    }
                                    @if (ViewData["Error"] != null)
                                    {
                                        <div class="col-md-12 alert alert-danger">
                                            <p><strong>خطا ! </strong>@ViewData["Error"]</p> <br />
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/Vendors/ckeditor5/build/ckeditor.js"></script>
    @*Manage Images*@
    <script type='text/javascript'>
        $(function () {
            //Maps your button click event to the File Upload click event
            $("#upfile1").click(function () {
                $("#attachment").trigger('click');
            });
        });
    </script>

    <script>

        @*Manage Current Product Images*@

        $(".delete-currentProductImage").on("click",
            function () {
                $(this).parent().prev().attr("name", "DeletedProductImagesIds");
                $(this).parent().remove();
            });
        @*Manage Images*@

        const dt = new DataTransfer(); // Permet de manipuler les fichiers de l'input file

        $("#attachment").on('change', function (e) {
            for (var i = 0; i < this.files.length; i++) {
                let fileBloc = $('<span/>', { class: 'file-block' }),
                    fileName = $('<img/>', { class: 'productimages height-100 width-100 round', src: URL.createObjectURL(this.files.item(i)), alt: this.files.item(i).name });
                fileBloc.append('<span class="file-delete badge badge-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">\r\n  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>\r\n</svg></span>')
                    .append(fileName);
                $("#filesList > #files-names").append(fileBloc);
                //document.getElementById("lol").src = URL.createObjectURL(this.files.item(i));
            };
            // Ajout des fichiers dans l'objet DataTransfer
            for (let file of this.files) {
                dt.items.add(file);
            }
            // Mise à jour des fichiers de l'input file après ajout
            this.files = dt.files;

            // EventListener pour le bouton de suppression créé
            $('span.file-delete').click(function () {
                let name = $(this).next('img.productimages').attr("alt");
                // Supprimer l'affichage du nom de fichier
                $(this).parent().remove();
                for (let i = 0; i < dt.items.length; i++) {
                    // Correspondance du fichier et du nom
                    if (name === dt.items[i].getAsFile().name) {
                        // Suppression du fichier dans l'objet DataTransfer
                        dt.items.remove(i);
                        continue;
                    }
                }
                // Mise à jour des fichiers de l'input file après suppression
                document.getElementById('attachment').files = dt.files;
            });
        });

        ClassicEditor.create(document.querySelector('#editor'),
            {
                language: 'fa',
                ckfinder: { uploadUrl: "/Admin/ProductManager/UploadEditorFile" },
                heading: {
                    options: [
                        { model: 'paragraph', title: 'پاراگراف', class: 'ck-heading_paragraph' },
                        { model: 'heading1', view: 'h1', title: 'هدر 1', class: 'ck-heading_heading1' },
                        { model: 'heading2', view: 'h2', title: 'هدر 2', class: 'ck-heading_heading2' },
                        { model: 'heading3', view: 'h3', title: 'هدر 3', class: 'ck-heading_heading3' }
                    ]
                },
                toolbar: {
                    items: [
                        'heading', '|',
                        'bold', 'italic', 'link', 'horizontalLine', 'underline', 'fontSize', 'fontColor', 'fontBackgroundColor', 'highlight', 'bulletedList', 'numberedList', 'blockQuote', '|',
                        'alignment', 'indent', 'outdent', '|',
                        'insertTable', 'htmlEmbed', 'codeBlock', '|',
                        'imageInsert', 'mediaEmbed', '|',
                        'removeFormat', 'redo', 'undo'
                    ],
                    shouldNotGroupWhenFull: true
                },
                image: {
                    // Configure the available styles.
                    styles: [
                        'alignLeft', 'alignCenter', 'alignRight'
                    ],

                    // Configure the available image resize options.
                    resizeOptions: [
                        {
                            name: 'resizeImage:original',
                            label: 'Original',
                            value: null
                        },
                        {
                            name: 'resizeImage:50',
                            label: '50%',
                            value: '50'
                        },
                        {
                            name: 'resizeImage:75',
                            label: '75%',
                            value: '75'
                        }
                    ],

                    // You need to configure the image toolbar, too, so it shows the new style
                    // buttons as well as the resize buttons.
                    toolbar: [
                        'imageStyle:alignLeft', 'imageStyle:alignCenter', 'imageStyle:alignRight',
                        '|',
                        'resizeImage',
                        '|',
                        'imageTextAlternative'
                    ]
                }
            })
            .catch(error => {
                console.error(error);
            });

        //Add Informations Button Scripts

        var content = "<div class='row mb-2'><div class='col' ><input type='text' required name='Valuetype' class='form-control round' placeholder='نام'></div><div class='col'><input type='text' name='ValueName' required class='form-control round' placeholder='مقدار'></div><div class='col'><button type='button' class='btn btn-danger remove-information-btn'><i class='fa fa-trash' aria-hidden='true'></i></button></div></div>";
        $("#add-information-btn").click(function () {
            $(content).insertBefore("#add-information-btn");
        });
        $(document).on("click",
            ".remove-information-btn",
            function () {
                $(this).parent().prev().prev().prev().attr("name", "PropertiesDeletedIds");
                $(this).parent().prev().prev().remove();
                $(this).parent().prev().remove();
                $(this).parent().remove();
            });

    </script>
}

