@model List<GetProductsAndImageSrcViewModel>
@{
    ViewData["Title"] = "لیست محصولات";
}


<!--Shopping cart starts-->
<section id="shopping-cart">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-warning row">
                        <h4 class="card-title col-md-12">محصولات</h4>
                        <div class="col-md-12">
                            <form class="form-group row" enctype="text/plain" method="get" asp-action="Index" asp-controller="ProductManager">
                                <input type="text" class="form-control m-1 col-md-4" placeholder="نام محصول را وارد کنید ..." value="@ViewBag.SearchProduct" name="searchProduct" />
                                <select class="form-control col-md-4 m-1" name="filter">
                                    <option class="bg-blue white" value="@ViewBag.FilterValue">@ViewBag.Filter</option>
                                    <option value="newest">جدید ترین</option>
                                    <option value="older">قدیمی ترین</option>
                                    <option value="lower10">کمتر از 10</option>
                                    <option value="lower20">کمتر از 20</option>
                                    <option value="finish">اتمام یافته</option>
                                    <option value="expensive">گران ترین</option>
                                    <option value="cheaper">ارزان ترین</option>
                                </select>
                                <button type="submit" class="btn btn-outline-info m-1"><i class="icon-magnifier"></i> جست و جو</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    @if (TempData["Error"] != null)
                    {
                        <div class="aler alert-danger m-2 p-2">
                            <p>
                                <strong>خطا ! </strong>@TempData["Error"]
                            </p>
                        </div>}
                    @if (TempData["Success"] != null)
                    {
                        <div class="aler alert-success m-2 p-2">
                            <p>
                                <strong>موفقیت ! </strong>@TempData["Success"]
                            </p>
                        </div>}
                    <div class="card-block">
                        <div class="table-responsive">
                            <form method="post" asp-action="DeleteProduct" asp-controller="ProductManager">
                                <table id="recent-orders" class="table table-hover table-xl mb-0">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0">تعداد</th>
                                            <th class="border-top-0"><button type="submit" class="btn btn-outline-danger"><i class="icon-trash"></i></button></th>
                                            <th class="border-top-0">نام</th>
                                            <th class="border-top-0">عکس</th>
                                            <th class="border-top-0">دسته بندی</th>
                                            <th class="border-top-0">قیمت</th>
                                            <th class="border-top-0">عملیات</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int b = 0; b < Model.Count(); b++)
                                        {
                                            <tr>
                                                <td class="text-truncate">
                                                    @if (Model[b].Count > 10)
                                                    {
                                                        <i class="fa fa-dot-circle-o success font-medium-1 mr-1"></i> <text>@Model[b].Count</text>
                                                    }
                                                    @if (Model[b].Count <= 10)
                                                    {
                                                        <i class="fa fa-dot-circle-o danger font-medium-1 mr-1"></i> <text>@Model[b].Count</text>
                                                    }
                                                </td>
                                                <td>
                                                    <input type="checkbox" asp-for="@Model[b].IsSelected" />
                                                    <input asp-for="@Model[b].Id" type="hidden" />
                                                </td>
                                                <td class="text-truncate">
                                                    @if (Model[b].Name.Length > 10)
                                                    {
                                                        <text> @Model[b].Name.Remove(10) </text> }
                                                    else
                                                    {
                                                        @Model[b].Name}
                                                </td>
                                                <td class="text-truncate p-1">
                                                    <ul class="list-unstyled users-list m-0">
                                                        @foreach (var images in Model[b].ImageSrc)
                                                        {
                                                            <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Kimberly Simmons" class="avatar avatar-sm pull-up">
                                                                <img class="media-object rounded-circle no-border-top-radius no-border-bottom-radius" src="/Images/ProductImages/@images" alt="Avatar">
                                                            </li>
                                                        }
                                                        <li class="avatar avatar-sm">
                                                            <span class="badge badge-info">+@(Model[b].ImagesCount)بیشتر</span>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <a asp-action="EditCategory" asp-controller="CategoryManager"
                                                            asp-route-categoryId="@Model[b].CategoryId"
                                                            class="btn btn-sm btn-outline-dark">
                                                        @Model[b].CategoryName
                                                    </a>
                                                </td>
                                                <td class="text-truncate"> @Model[b].Price تومان</td>
                                                <td class="text-truncate">
                                                    <a class="btn btn-outline-primary"
                                                       asp-action="EditProduct"
                                                       asp-controller="ProductManager"
                                                       asp-route-productId="@Model[b].Id">ویرایش</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            <partial name="_PagingParitial"></partial>
            </div>
        </div>
    </div>
</section>
<!--Shopping cart ends-->